{% extends 'Base.html' %}
{% block title %}Reset your password{% endblock title %}

{% block content %}
    <h1>Reset your password</h1>
    
    {% if validlink %}
        <h4>Please enter your new password twice</h4>
        <div class="form">
            <form action="" method="post">
                {{form.as_p}}
                {% csrf_token %}
                <p><input type="submit" value="change my password"></p>
            </form>
        </div>
     
    {% else %}
        <h4>password reset link was invalid, possibly because it have been used please request a new password reset</h4>
        
    {% endif %}
        

{% endblock content %}